.border{
    border: 2px solid  red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-3 {
    gap: 3px;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.items-center{
    align-items: center;
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.rounded {
    border-radius: 16px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mt-8 {
    margin-top: 8px;
}

.pt-70 {
    padding-top: 70px;
}
